* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    width: 80%;
}

body h1 {
    margin-bottom: 20px;
}

.film-card {
    background-color: lightgreen;
    margin-bottom: 30px;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition: all 1s;
}

.film-card:hover {
    transform: scale(1.2);
}