* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

body h1 {
    margin-bottom: 20px;
}

.film-card {
    background-color: lightblue;
    margin-bottom: 30px;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
}